# Arquivos de dados gerados
*.json
*.jsonl

# Arquivos de texto e logs
*.txt
*.log

# Imagens e screenshots de depuração
*.png
*.jpg
*.jpeg

# Diretórios de ambiente Python
__pycache__/
venv/
*.venv/
env/

# Arquivos de configuração de IDE
.vscode/
.idea/
